
.body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #000;
    background-color: #fff;
    width: auto;
}
a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}
a:hover {
    text-decoration: underline;
}
.header-box {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 30px;
   font-size: small;
   margin-top: 20px;
}
.header-box a, .header-box button {
    padding: 0 10px;
}
#sign-in {
    border-radius: 50px;
    border: 1px solid #dadada;
    background-color: #f5f5f5;
}
#sign-in:hover {
    box-shadow: 0 1px 1px #aaa;
    border: 1px solid #dadada;
    text-decoration: none !important;
}

.form-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
} 
#google-img {
    height: 100px;
    padding-top: 120px;
    transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
}
@media (max-height: 420px){
    #google-img {
        padding-top: 20px;
        transform: scale(.8) translateY(-20px);
    }

}
.search-bar-box {
    width: 500px;
    margin-left: 40px;
    border-radius: 25px;
    transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
    border: 1px solid #dfe1e5;
}
#search-bar {
    margin-left: 40px;
    border-radius: 45px;
    height: 40px;
    width: 90%;
    transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
    border: 1px solid rgba(0,0,0,0);
    padding: 20px 0 20px 20px;
}
.search-button-box{
    display: flex;
    justify-content: center;
}
.search-button-box input {
    padding: 10px 10px;
    margin: 10px 5px 0 5px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
.search-button-box input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: 1px solid #c6c6c6
}
.footer-box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #f2f2f2;
    width: auto;
}
.footer-links-box {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding-top: 20px;
}
#footer-loc {
    padding: 0 0 0 27px;
    line-height: 50px;
    border-bottom: 1px solid #a2a2a2;
}
.footer-links-box a {
    padding-left: 27px;
}
.footer-links-bottom-row {
    display: inline-block;
    white-space: nowrap;
    line-height: 20px;
}
